<rules>
<rule type="text_finder" category = "Mandatory">
		<pattern_list>
			<text_pattern value = "import org.apache.xmlbeans;"/>
			<text_pattern value = "import org.apache.xmlbeans.Filer;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.common;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.config;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.inst2xsd;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.inst2xsd.util;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.jam;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.jam.annotation;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.jam.internal;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.jam.internal.classrefs;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.jam.internal.elements;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.jam.internal.javadoc;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.jam.internal.parser;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.jam.internal.reflect;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.jam.mutable;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.jam.provider;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.jam.visitor;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.jam.xml;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.piccolo.io;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.piccolo.util;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.piccolo.xml;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.regex;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.richParser;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.schema;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.soap;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.store;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.tool;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.util;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.validator;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.values;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.xb.ltgfmt;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.xb.ltgfmt.impl;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.xb.substwsdl;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.xb.substwsdl.imp;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.xb.xmlconfig;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.xb.xmlconfig.impl;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.xb.xmlschema;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.xb.xmlschema.impl;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.xb.xsdownload;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.xb.xsdownload.impl;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.xb.xsdschema;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.xb.xsdschema.impl;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.xpath.saxon;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.xquery.saxon;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.xsd2inst;"/>
			<text_pattern value = "import org.apache.xmlbeans.soap;"/>
			<text_pattern value = "import org.apache.xmlbeans.xml.stream;"/>
			<text_pattern value = "import org.apache.xmlbeans.xml.stream.events;"/>
			<text_pattern value = "import org.apache.xmlbeans.xml.stream.uti;"/>
			<text_pattern value = "import javax.portlet;"/>
			<text_pattern value = "import com.liferay.portal.kernel.util;"/>
			<text_pattern value = "import org.apache.velocity;"/>
			<text_pattern value = "import net.sf.jasperreports;"/>
			<text_pattern value = "import javax.xml.namespace;"/>
			<text_pattern value = "import org.apache.xmlbeans;"/>
			<text_pattern value = "import org.apache.xmlbeans.soap;"/>
			<text_pattern value = "import import javax.jdo;"/>
			<text_pattern value = "import com.google.common.annotations;"/>
			<text_pattern value = "import com.google.common.base;"/>
			<text_pattern value = "import com.google.common.collect;"/>
			<text_pattern value = "import com.google.common.io;"/>
			<text_pattern value = "import com.google.common.primitives;"/>
			<text_pattern value = "import com.google.common.util.concurrent;"/>
			<text_pattern value = "import org.springframework.core.enums" />
			<text_pattern value = "import org.springframework.ejb.support" />
			<text_pattern value = "import org.springframework.instrument.classloading.oc4j" />
			<text_pattern value = "import org.springframework.orm.ibatis" />
			<text_pattern value = "import org.springframework.orm.ibatis.support" />
			<text_pattern value = "import org.springframework.remoting.jaxrpc" />
			<text_pattern value = "import org.springframework.scheduling.backportconcurrent" />
			<text_pattern value = "import org.springframework.scheduling.timer" />
			<text_pattern value = "import org.springframework.test.context.junit38" />
			<text_pattern value = "import org.springframework.test.jpa" />
			<text_pattern value = "import org.springframework.web.servlet.view.tiles" />
			<text_pattern value = "import org.springframework.web.struts" />
			<remediation recommendation = "Remove this import" complexity= "1" action = "remove" savings="1"/>
		</pattern_list>
		<pattern_list>
			<text_pattern value = "addItem"/>
			<remediation recommendation = "Replace addItem for list with add" complexity= "2" action = "replace" replace_with = "add" condition = "List" savings="2"/>
		</pattern_list>
		<pattern_list value = "method_pattern">
			<text_pattern value = "jmsPollable"/>
			<remediation recommendation = "Replace jmsPollable for list with Jms.pollableChannel" complexity= "2" action = "replace" replace_with = "Jms.pollableChannel" condition = "List" savings="2"/>
		</pattern_list>
		<pattern_list value = "method_pattern">
			<text_pattern value = "fileToString"/>
			<remediation recommendation = "Replace fileToString for list with Files.toStringTransformer" complexity= "2" action = "replace" replace_with = "Files.toStringTransformer" condition = "List" savings="2"/>
		</pattern_list>
		<pattern_list value = "method_pattern">
			<text_pattern value = "addItem"/>
			<remediation recommendation = "Replace addItem for list with add" complexity= "2" action = "replace" replace_with = "add" condition = "List" savings="2"/>
		</pattern_list>
		<pattern_list value = "replace">
			<text_pattern value = "import org.springframework.integration.dsl.core;"/>
			<remediation recommendation = "Replace this import with import org.springframework.integration.dsl;" complexity= "2" action = "replace" replace_with = "import org.springframework.integration.dsl;" condition = "import" savings="2"/>
		</pattern_list>
		<pattern_list value = "replace">
			<text_pattern value = "import org.springframework.integration.dsl.config;"/>
			<remediation recommendation = "Replace this import with import org.springframework.integration.config.dsl;" complexity= "2" action = "replace" replace_with = "import org.springframework.integration.config.dsl;" condition = "import" savings="2"/>
		</pattern_list>
		<pattern_list value = "replace">
			<text_pattern value = "import org.springframework.integration.dsl.transaction;"/>
			<remediation recommendation = "Replace this import with import org.springframework.integration.transaction;" complexity= "2" action = "replace" replace_with = "import org.springframework.integration.transaction;" condition = "import" savings="2"/>
		</pattern_list>
		<pattern_list value = "replace">
			<text_pattern value = "import org.springframework.integration.dsl.mail;"/>
			<remediation recommendation = "Replace this import with import org.springframework.integration.mail.dsl;" complexity= "2" action = "replace" replace_with = "import org.springframework.integration.mail.dsl;" condition = "import" savings="2"/>
		</pattern_list>
		<pattern_list value = "replace">
			<text_pattern value = "import org.springframework.integration.dsl.kafka;"/>
			<remediation recommendation = "Replace this import with import org.springframework.integration.kafka.dsl;" complexity= "2" action = "replace" replace_with = "import org.springframework.integration.kafka.dsl;" condition = "import" savings="2"/>
		</pattern_list>
		<pattern_list value = "replace">
			<text_pattern value = "Reactor2TcpStompSessionManager"/>
			<remediation recommendation = "Replace this Reactor2TcpStompSessionManager with ReactorNettyTcpStompSessionManager;" complexity= "2" action = "replace" replace_with = "ReactorNettyTcpStompSessionManager" condition = "import" savings="2"/>
		</pattern_list>
		</rule>
		<rule type="text_finder" category = "Optional">
		<pattern_list>
			<text_pattern value = "jms-api"/>
			<text_pattern value = "hibernate-jpa-1.1-api"/>
			<text_pattern value = "javax.servlet-api"/>
			<remediation recommendation = "Update jar version as per recommendation" complexity= "1" action = "information" savings="1"/>
		</pattern_list>
		</rule>
</rules>
