<rules>
<rule type="text_finder" category = "Mandatory">
		<file_operation_type value = "individual"/>
		<file_pattern value = "*.java"/>
		<remidiation_pattern value = "import_statement">
			<text_pattern value = "import org.apache.xmlbeans;"/>
			<text_pattern value = "import org.apache.xmlbeans.Filer;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.common;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.config;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.inst2xsd;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.inst2xsd.util;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.jam;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.jam.annotation;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.jam.internal;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.jam.internal.classrefs;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.jam.internal.elements;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.jam.internal.javadoc;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.jam.internal.parser;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.jam.internal.reflect;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.jam.mutable;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.jam.provider;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.jam.visitor;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.jam.xml;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.piccolo.io;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.piccolo.util;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.piccolo.xml;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.regex;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.richParser;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.schema;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.soap;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.store;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.tool;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.util;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.validator;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.values;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.xb.ltgfmt;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.xb.ltgfmt.impl;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.xb.substwsdl;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.xb.substwsdl.imp;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.xb.xmlconfig;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.xb.xmlconfig.impl;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.xb.xmlschema;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.xb.xmlschema.impl;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.xb.xsdownload;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.xb.xsdownload.impl;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.xb.xsdschema;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.xb.xsdschema.impl;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.xpath.saxon;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.xquery.saxon;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.xsd2inst;"/>
			<text_pattern value = "import org.apache.xmlbeans.soap;"/>
			<text_pattern value = "import org.apache.xmlbeans.xml.stream;"/>
			<text_pattern value = "import org.apache.xmlbeans.xml.stream.events;"/>
			<text_pattern value = "import org.apache.xmlbeans.xml.stream.uti;"/>
			<text_pattern value = "import javax.portlet;"/>
			<text_pattern value = "import com.liferay.portal.kernel.util;"/>
			<text_pattern value = "import org.apache.velocity;"/>
			<text_pattern value = "import net.sf.jasperreports;"/>
			<text_pattern value = "import javax.xml.namespace;"/>
			<text_pattern value = "import org.apache.xmlbeans;"/>
			<text_pattern value = "import org.apache.xmlbeans.soap;"/>
			<text_pattern value = "import import javax.jdo;"/>
			<text_pattern value = "import com.google.common.annotations;"/>
			<text_pattern value = "import com.google.common.base;"/>
			<text_pattern value = "import com.google.common.collect;"/>
			<text_pattern value = "import com.google.common.io;"/>
			<text_pattern value = "import com.google.common.primitives;"/>
			<text_pattern value = "import com.google.common.util.concurrent;"/>
			<remediation recommendation = "Remove this import" complexity= "1" action = "remove" savings="1"/>
		</remidiation_pattern>
		<remidiation_pattern value = "method_pattern">
			<text_pattern value = "addItem"/>
			<remediation recommendation = "Replace addItem for list with add" complexity= "2" action = "replace" replace_with = "add" condition = "List" savings="2"/>
		</remidiation_pattern>
		</rule>
		<rule type="file_finder" category = "Optional">
		<file_operation_type value = "batch"/>
		<file_pattern value = "*.xml"/>
		<remidiation_pattern value = "batch_operation">
			<files>
				<file>*.xml</file>
			</files>
			<remediation recommendation = "Move from xml based to annotation based configuration" complexity= "10" />
		</remidiation_pattern>
	</rule>
</rules>
