<rules>
	<rule type="text_finder" category = "Mandatory">
		<pattern_list>
			<text_pattern value = "import org.apache.xmlbeans;"/>
			<text_pattern value = "import org.apache.xmlbeans.Filer;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.common;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.config;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.inst2xsd;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.inst2xsd.util;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.jam;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.jam.annotation;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.jam.internal;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.jam.internal.classrefs;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.jam.internal.elements;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.jam.internal.javadoc;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.jam.internal.parser;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.jam.internal.reflect;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.jam.mutable;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.jam.provider;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.jam.visitor;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.jam.xml;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.piccolo.io;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.piccolo.util;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.piccolo.xml;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.regex;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.richParser;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.schema;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.soap;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.store;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.tool;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.util;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.validator;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.values;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.xb.ltgfmt;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.xb.ltgfmt.impl;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.xb.substwsdl;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.xb.substwsdl.imp;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.xb.xmlconfig;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.xb.xmlconfig.impl;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.xb.xmlschema;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.xb.xmlschema.impl;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.xb.xsdownload;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.xb.xsdownload.impl;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.xb.xsdschema;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.xb.xsdschema.impl;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.xpath.saxon;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.xquery.saxon;"/>
			<text_pattern value = "import org.apache.xmlbeans.impl.xsd2inst;"/>
			<text_pattern value = "import org.apache.xmlbeans.soap;"/>
			<text_pattern value = "import org.apache.xmlbeans.xml.stream;"/>
			<text_pattern value = "import org.apache.xmlbeans.xml.stream.events;"/>
			<text_pattern value = "import org.apache.xmlbeans.xml.stream.uti;"/>
			<text_pattern value = "import javax.portlet;"/>
			<text_pattern value = "import com.liferay.portal.kernel.util;"/>
			<text_pattern value = "import org.apache.velocity;"/>
			<text_pattern value = "import net.sf.jasperreports;"/>
			<text_pattern value = "import javax.xml.namespace;"/>
			<text_pattern value = "import org.apache.xmlbeans;"/>
			<text_pattern value = "import org.apache.xmlbeans.soap;"/>
			<text_pattern value = "import import javax.jdo;"/>
			<text_pattern value = "import com.google.common.annotations;"/>
			<text_pattern value = "import com.google.common.base;"/>
			<text_pattern value = "import com.google.common.collect;"/>
			<text_pattern value = "import com.google.common.io;"/>
			<text_pattern value = "import com.google.common.primitives;"/>
			<text_pattern value = "import com.google.common.util.concurrent;"/>
			<text_pattern value = "import org.springframework.core.enums" />
			<text_pattern value = "import org.springframework.ejb.support" />
			<text_pattern value = "import org.springframework.instrument.classloading.oc4j" />
			<text_pattern value = "import org.springframework.orm.ibatis" />
			<text_pattern value = "import org.springframework.orm.ibatis.support" />
			<text_pattern value = "import org.springframework.remoting.jaxrpc" />
			<text_pattern value = "import org.springframework.scheduling.backportconcurrent" />
			<text_pattern value = "import org.springframework.scheduling.timer" />
			<text_pattern value = "import org.springframework.test.context.junit38" />
			<text_pattern value = "import org.springframework.test.jpa" />
			<text_pattern value = "import org.springframework.web.servlet.view.tiles" />
			<text_pattern value = "import org.springframework.web.struts" />
			<text_pattern value = "import org.springframework.mock.jndi.SimpleNamingContext" />
			<text_pattern value = "import org.springframework.mock.jndi.SimpleNamingContextBuilder" />
		</pattern_list>
		<remediation recommendation = "Remove this import" complexity= "1" action = "remove" savings="1"/>
	</rule>
	<rule type="text_finder" category = "Mandatory">
		<pattern_list>
			<text_pattern value = "jmsPollable"/>
		</pattern_list>
		<remediation recommendation = "Replace jmsPollable for list with Jms.pollableChannel" complexity= "2" action = "replace" replace_with = "Jms.pollableChannel" condition = "List" savings="2"/>
	</rule>
	<rule type="text_finder" category = "Mandatory">
		<pattern_list >
			<text_pattern value = "ConnectionFactory "/>
		</pattern_list>
		<remediation recommendation = "Replace ConnectionFactory  by jmsConnectionFactory" complexity= "2" action = "replace" replace_with = "jmsConnectionFactory" condition = "connectionFactory" savings="2"/>
	</rule>
	<rule type="text_finder" category = "Mandatory">
		<pattern_list>
			<text_pattern value = "jmsPollable"/>
		</pattern_list>
		<remediation recommendation = "Replace jmsPollable for list with Jms.pollableChannel" complexity= "2" action = "replace" replace_with = "Jms.pollableChannel" condition = "List" savings="2"/>
	</rule>
	<rule type="text_finder" category = "Mandatory">
		<pattern_list>
			<text_pattern value = "resolveChannelName"/>
		</pattern_list>
		<remediation recommendation = "Replace  with resolvedDestination" complexity= "2" action = "replace" replace_with = "resolvedDestination" condition = "method" savings="2"/>
	</rule>
	<rule type="text_finder" category = "Mandatory">
		<pattern_list>
			<text_pattern value = "import org.springframework.integration;"/>
		</pattern_list>
		<remediation recommendation = "Replace this import with import org.springframework.messaging;" complexity= "2" action = "replace" replace_with = "import org.springframework.messaging;" condition = "import" savings="2"/>
	</rule>
	<rule type="text_finder" category = "Mandatory">
		<pattern_list>
			<text_pattern value = "import org.springframework.integration.dsl.core;"/>
		</pattern_list>
		<remediation recommendation = "Replace this import with import org.springframework.integration.dsl;" complexity= "2" action = "replace" replace_with = "import org.springframework.integration.dsl;" condition = "import" savings="2"/>
	</rule>
	<rule type="text_finder" category = "Mandatory">
		<pattern_list>
			<text_pattern value = "import org.springframework.integration.amqp.AmqpHeaders;"/>
		</pattern_list>
		<remediation recommendation = "Replace this import with import org.springframework.amqp.support.AmqpHeaders;" complexity= "2" action = "replace" replace_with = "import org.springframework.amqp.support.AmqpHeaders;" condition = "import" savings="2"/>
	</rule>
	<rule type="text_finder" category = "Mandatory">
		<pattern_list>
			<text_pattern value = "import com.sun.syndication.feed.synd.SyndEntry;"/>
		</pattern_list>
		<remediation recommendation = "Replace this import with import com.rometools.rome.feed.synd.SyndEntry for rome classes;" complexity= "2" action = "replace" replace_with = "import org.springframework.amqp.support.AmqpHeaders;" condition = "import" savings="2"/>
	</rule>
	<rule type="text_finder" category = "Mandatory">
		<pattern_list>
			<text_pattern value = "import org.springframework.integration.annotation;"/>
		</pattern_list>
		<remediation recommendation = "Replace this import with org.springframework.messaging.handler.annotation; for Payload ,Header and Headers" complexity= "2" action = "replace" replace_with = "import org.springframework.messaging.handler.annotation;" condition = "import" savings="2"/>
	</rule>
	<rule type="text_finder" category = "Mandatory">
		<pattern_list>
			<text_pattern value = "import org.springframework.integration.dsl.config;"/>
		</pattern_list>
		<remediation recommendation = "Replace this import with import org.springframework.integration.config.dsl;" complexity= "2" action = "replace" replace_with = "import org.springframework.integration.config.dsl;" condition = "import" savings="2"/>
	</rule>
	<rule type="text_finder" category = "Mandatory">
		<pattern_list>
			<text_pattern value = "import org.springframework.integration.dsl.transaction;"/>
		</pattern_list>
		<remediation recommendation = "Replace this import with import org.springframework.integration.transaction;" complexity= "2" action = "replace" replace_with = "import org.springframework.integration.transaction;" condition = "import" savings="2"/>
	</rule>
	<rule type="text_finder" category = "Mandatory">
		<pattern_list>
			<text_pattern value = "import org.springframework.integration.dsl.mail;"/>
		</pattern_list>
		<remediation recommendation = "Replace this import with import org.springframework.integration.mail.dsl;" complexity= "2" action = "replace" replace_with = "import org.springframework.integration.mail.dsl;" condition = "import" savings="2"/>
	</rule>
	<rule type="text_finder" category = "Mandatory">
		<pattern_list>
			<text_pattern value = "import org.springframework.integration.dsl.kafka;"/>
		</pattern_list>
		<remediation recommendation = "Replace this import with import org.springframework.integration.kafka.dsl;" complexity= "2" action = "replace" replace_with = "import org.springframework.integration.kafka.dsl;" condition = "import" savings="2"/>
	</rule>
	<rule type="text_finder" category = "Mandatory">
		<pattern_list>
			<text_pattern value = "Reactor2TcpStompSessionManager"/>
		</pattern_list>
		<remediation recommendation = "Replace this Reactor2TcpStompSessionManager with ReactorNettyTcpStompSessionManager;" complexity= "2" action = "replace" replace_with = "ReactorNettyTcpStompSessionManager" condition = "import" savings="2"/>
	</rule>
	<rule type="text_finder" category = "Mandatory">
		<pattern_list>
			<text_pattern value = "import org.springframework.integration.core;"/>
		</pattern_list>
		<remediation recommendation = "Replace this import with org.springframework.messaging;" complexity= "2" action = "replace" replace_with = "import org.springframework.messaging" condition = "import" savings="2"/>
	</rule>
	<rule type="text_finder" category = "Mandatory">
		<pattern_list>
			<text_pattern value = "import org.springframework.integration.channel.interceptor;"/>
		</pattern_list>
		<remediation recommendation = "Replace this import with org.springframework.messaging.support;" complexity= "2" action = "replace" replace_with = "import org.springframework.messaging.support;" condition = "import" savings="2"/>
	</rule>
	<rule type="text_finder" category = "Mandatory">
		<pattern_list>
			<text_pattern value = "import org.springframework.integration.message;"/>
		</pattern_list>
		<remediation recommendation = "Replace this import with org.springframework.messaging.support;" complexity= "2" action = "replace" replace_with = "import org.springframework.messaging.support;" condition = "import" savings="2"/>
	</rule>
	<rule type="text_finder" category = "Mandatory">
		<pattern_list>
			<text_pattern value = "import org.springframework.integration.support.channel;"/>
		</pattern_list>
		<remediation recommendation = "Replace this import with org.springframework.messaging.core;" complexity= "2" action = "replace" replace_with = "import org.springframework.messaging.core;" condition = "import" savings="2"/>
	</rule>
	<rule type="text_finder" category = "Mandatory">
		<pattern_list>
			<text_pattern value = "import org.springframework.integration.channel.interceptor;"/>
		</pattern_list>
		<remediation recommendation = "Replace this import with org.springframework.messaging.support;" complexity= "2" action = "replace" replace_with = "import org.springframework.messaging.support" condition = "import" savings="2"/>
	</rule>
	<rule type="text_finder" category = "Mandatory">
		<pattern_list>
			<text_pattern value = "&#60;artifactId&#62;jms-api&#60;&#47;artifactId&#62;"/>
			<text_pattern value = "&#60;artifactId&#62;hibernate-jpa-1.1-api&#60;&#47;artifactId&#62;"/>
			<text_pattern value = "&#60;artifactId&#62;javax.servlet-api&#60;&#47;artifactId&#62;"/>
			<text_pattern value = "&#60;artifactId&#62;jsf-api&#60;&#47;artifactId&#62;" />
			<text_pattern value = "&#60;artifactId&#62;jcache&#60;&#47;artifactId&#62;" />
			<text_pattern value = "&#60;artifactId&#62;jdo-api&#60;&#47;artifactId&#62;" />
			<text_pattern value = "&#60;artifactId&#62;jackson-core&#60;&#47;artifactId&#62;" />
			<text_pattern value = "&#60;artifactId&#62;reactor-kotlin-extensions&#60;&#47;artifactId&#62;" />
		</pattern_list>
		<remediation recommendation = "Update jar version as per recommendation" complexity= "1" action = "information" savings="1"/>
	</rule>
	<rule type="text_finder" category = "Mandatory">
		<pattern_list>
			<text_pattern value = "Consumer"/>
			<text_pattern value = "Function"/>
		</pattern_list>
		<remediation recommendation = "Mentioned classes moved under java.util.function package" complexity= "1" action = "information" savings="1"/>
	</rule>
	<rule type="text_finder" category = "Mandatory">
		<pattern_list>
			<text_pattern value = "Transformers"/>
		</pattern_list>
		<remediation recommendation = "Mentioned classes moved under org.springframework.integration.dsl package" complexity= "1" action = "information" savings="1"/>
	</rule>
	<rule type="text_finder" category = "Mandatory">
		<pattern_list>
			<text_pattern value = "BeanNameMessageProcessor"/>
		</pattern_list>
		<remediation recommendation = "Mentioned classes moved under org.springframework.integration.handler package" complexity= "1" action = "information" savings="1"/>
	</rule>
	<rule type="text_finder" category = "Mandatory">
		<pattern_list>
			<text_pattern value = "FunctionExpression"/>
		</pattern_list>
		<remediation recommendation = "Mentioned classes moved under org.springframework.integration.expression package" complexity= "1" action = "information" savings="1"/>
	</rule>
	<rule type="text_finder" category = "Mandatory">
		<pattern_list>
			<text_pattern value = "GenericHandler"/>
		</pattern_list>
		<remediation recommendation = "Mentioned classes moved under org.springframework.integration.handler package" complexity= "1" action = "information" savings="1"/>
	</rule>
	<rule type="text_finder" category = "Mandatory">
		<pattern_list>
			<text_pattern value = "MapBuilder"/>
		</pattern_list>
		<remediation recommendation = "Mentioned classes moved under org.springframework.integration.support package" complexity= "1" action = "information" savings="1"/>
	</rule>
	<rule type="text_finder" category = "Mandatory">
		<pattern_list>
			<text_pattern value = "StringStringMapBuilder"/>
		</pattern_list>
		<remediation recommendation = "Mentioned classes moved under org.springframework.integration.support package" complexity= "1" action = "information" savings="1"/>
	</rule>
	<rule type="text_finder" category = "Mandatory">
		<pattern_list>
			<text_pattern value = "PropertiesBuilder"/>
		</pattern_list>
		<remediation recommendation = "Mentioned classes moved under org.springframework.integration.support package" complexity= "1" action = "information" savings="1"/>
	</rule>
	<rule type="text_finder" category = "Mandatory">
		<pattern_list>
			<text_pattern value = "org.springframework.integration.dsl.support.tuple"/>
		</pattern_list>
		<remediation recommendation = "Mentioned classes moved under reactor.util.function package" complexity= "1" action = "information" savings="1"/>
	</rule>
	<rule type="text_finder" category = "Mandatory">
		<pattern_list>
			<text_pattern value = "DslIntegrationConfigurationInitializer"/>
		</pattern_list>
		<remediation recommendation = "Mentioned classes moved under org.springframework.integration.config.dsl package from org.springframework.integration.dsl.config" complexity= "1" action = "information" savings="1"/>
	</rule>
	<rule type="text_finder" category = "Mandatory">
		<pattern_list>
			<text_pattern value = "IntegrationFlowBeanPostProcessor"/>
		</pattern_list>
		<remediation recommendation = "Mentioned classes moved under org.springframework.integration.config.dsl package from org.springframework.integration.dsl.config" complexity= "1" action = "information" savings="1"/>
	</rule>
	<rule type="text_finder" category = "Mandatory">
		<pattern_list>
			<text_pattern value = "TransactionHandleMessageAdvice"/>
		</pattern_list>
		<remediation recommendation = "Mentioned classes moved under org.springframework.integration.transaction package from org.springframework.integration.dsl.transaction" complexity= "1" action = "information" savings="1"/>
	</rule>
	<rule type="text_finder" category = "Mandatory">
		<pattern_list>
			<text_pattern value = "TransactionInterceptorBuilder"/>
		</pattern_list>
		<remediation recommendation = "Mentioned classes moved under org.springframework.integration.transaction package from org.springframework.integration.dsl.transaction" complexity= "1" action = "information" savings="1"/>
	</rule>
	<rule type="text_finder" category = "Mandatory">
		<pattern_list>
			<text_pattern value = "ScatterGatherHandler"/>
		</pattern_list>
		<remediation recommendation = "Mentioned classes moved under org.springframework.integration.scattergather package from org.springframework.integration.handler" complexity= "1" action = "information" savings="1"/>
	</rule>
</rules>
